name: Publish to PyPI and GitHub Releases

on:
  release:
    types: [ published ]

jobs:
  build:
    name: Build and Publish
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Check if tests were run by checking for 'tested-...' tag on the current commit
        run: |
          if ! git tag --points-at HEAD | grep -q 'tested-'; then
              echo "No 'tested-' tag found on the current commit. Aborting release."
              exit 1
          fi
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - run: python -m pip install --upgrade pip build
      - run: python -m build
      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
